<a href="https://colab.research.google.com/github/developersmita767/DSA-CircularQueue_Using_Array-in-Method/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print('welcome to my world')

welcome to my world

In [4]:
data=20.4
str='swati smita'
print(str)
print(data)

swati smita
20.4

In [5]:
#WAP to print the output acc to index.
str1='subhrasmita'
print(str1[1])
print(str1[-1])
print(str1[5])

u
a
a

In [7]:
#add two number in python
a=10
b=30
c=a+b
print(c)

40

In [10]:
#take user input & add two number and type & id of output
a=int(input('enter 1st number'))
b=int(input('enter 2nd number'))
c=a+b
print(c)
print(type(c))
print(id(c))

enter 1st number1
enter 2nd number3
4
<class 'int'>
139963254079824

In [12]:
x=10
print(id(x))
y=x+1
print(id(y))

139963254080016
139963254080048

In [13]:
#add two string
str1='smita'
str2='madam'
str3=str1+str2
print(str3)

smitamadam

In [15]:
#sliceing
str='smita is a attitude girl'#here we count also the space
print(str[3])
print(str[-5])
print(str[0])

#stringname[start:end:step]
print(str[3:5])
print(str[3:10:3])
print(str[:])
print(str[3:])
print(str[:5])
print(str[::1])
print(str[::-1])

t

s
ta
tia
smita is a attitude girl
ta is a attitude girl
smita
smita is a attitude girl
lrig edutitta a si atims

In [16]:
#List
l=[10,20,30,40,50]
print(l)
l1=[10,'amit',34.5,30]
print(l1)
print(type(l1))
print(len(l1))

[10, 20, 30, 40, 50]
[10, 'amit', 34.5, 30]
<class 'list'>
4

In [17]:
str='smarak'
print(str[0:5:2])

saa

In [19]:
#constructor
l=list((10,20,30,40))
print(l)

[10, 20, 30, 40]

In [23]:
l=[] #empty list
print(l)
print(type(l))
l.append(10) #append function use to add element in end of the list.
print(l)

[]
<class 'list'>
[10]

In [24]:
l=[10,20,30,40,50]
print(l)
print(l[4])
print(l[-1])
print(l[::])
l.append(60)
print(l)

[10, 20, 30, 40, 50]
50
50
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60]

In [27]:
# if else use
l=[10,20,30,40,50]
if 10 in l:
    print('yes')
else:
  print('no')

yes

In [28]:
l1=('apple','grape','orange')
if 'apple' in l1:
      print('yes')
else:
  print('no')

yes

In [30]:
# sum of all element in list
l=[10,20,30,40,50]
sum=0
for ele in l:
  sum=sum+ele
print(sum)

150

In [33]:
# Range
for j in range(15):
    print(j)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [36]:
l=[10,20,30,40,50]
for i in  l:
  print(i)
n=len(l)
print(n)

10
20
30
40
50
5

In [37]:
# use function
def hello():
  print('i am good')
hello()

i am good

In [39]:
def sum(x,y):
 return x+y
x=int(input('enter 1st number'))
y=int(input('enter 2nd number'))
c=sum(x,y)
print(c)

enter 1st number5
enter 2nd number8
13